@import "@gouvfr/dsfr/dist/dsfr/dsfr.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-development/icons-development.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-device/icons-device.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-communication/icons-communication.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-business/icons-business.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-design/icons-design.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-system/icons-system.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-weather/icons-weather.min.css";
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.contribcit-alert-button.fr-btn {
  background-color: var(--background-action-high-error);
  color: var(--text-inverted-error);
  --hover: var(--background-action-high-error-hover);
  --active: var(--background-action-high-error-active);
}

.contribcit-alert-button.fr-btn:hover {
  background-color: var(--hover);
}

.contribcit-alert-button.fr-btn:active {
  background-color: var(--active);
}
