@import "@gouvfr/dsfr/dist/dsfr/dsfr.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-development/icons-development.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-communication/icons-communication.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-business/icons-business.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-system/icons-system.min.css";
@import "@gouvfr/dsfr/dist/utility/icons/icons-weather/icons-weather.min.css";
@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}
